<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cyberzilla.islamicwidget">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_0"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:localeConfig="@xml/locales_config"
        android:theme="@style/Theme.IslamicWidget">

        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_icon_0"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CompassActivity"
            android:theme="@style/Theme.CompassPopup"
            android:exported="true" />

        <activity-alias android:name=".MainActivityAlias1" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_1" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias2" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_2" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias3" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_3" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias4" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_4" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias5" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_5" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias6" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_6" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias7" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_7" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias8" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_8" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias9" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_9" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias10" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_10" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias11" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_11" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias12" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_12" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias13" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_13" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias14" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_14" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias15" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_15" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias16" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_16" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias17" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_17" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias18" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_18" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias19" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_19" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias20" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_20" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias21" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_21" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias22" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_22" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias23" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_23" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias24" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_24" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias25" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_25" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias26" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_26" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias27" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_27" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias28" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_28" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias29" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_29" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityAlias30" android:enabled="false" android:exported="true" android:icon="@drawable/ic_icon_30" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>

        <receiver android:name=".WidgetPinReceiver" android:exported="false" />

        <receiver android:name=".UpdateReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".IslamicWidgetProvider"
            android:label="Datetime Info"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.cyberzilla.islamicwidget.ACTION_UPDATE_ADZAN_STATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/islamic_widget_info" />
        </receiver>

        <receiver
            android:name=".SilentModeReceiver"
            android:exported="true" />

        <service
            android:name=".AdzanService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback|shortService" />

        <receiver
            android:name=".QuoteWidgetProvider"
            android:label="Quotes"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.cyberzilla.islamicwidget.ACTION_RANDOM_QUOTE" />
                <action android:name="com.cyberzilla.islamicwidget.ACTION_SHARE_QUOTE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quotes_widget_info" />
        </receiver>

        <receiver
            android:name=".CompassWidgetProvider"
            android:label="Qibla Compass"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/compass_widget_info" />
        </receiver>

        <receiver android:name=".BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>